
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Defina seus macros!</h3>
    <h3 class="display-4">Faça sua dieta de acordo com suas restrições.</h3>
    <p>
        <a asp-controller="Cadastro" asp-action="Cadastro"> É novo aqui ? Cadastre-se!</a>
    </p>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
